<div class="pm-container">
  
  <div class="lg-app">
    <figure class="lg-app-logo">
      <img src="assets/logo.svg" alt="" srcset="">
      <figcaption>Leak Killer</figcaption>
    </figure>

  </div>

  <div class="lg-app">
    <lg-button [LgButtonClass]="'lg-button--primary'">My first button</lg-button>
    <lg-button [LgButtonClass]="'lg-button--primary is_inverted'">My first button</lg-button>
  </div>

  <div class="lg-app">
    <div class='lg-field'>
        <div class="lg-input-group">
            <span class="lg-input-group-label" aria-hidden='true'><img src="assets/icons/user.svg"></span>
            <input id='lg-signin-user-name' type="text" name="lg-signin-user-name" class='lg-input-group-field' value='' required>
            <label for='lg-signin-user-name'>Username</label>
        </div>
    </div>
    <div class='lg-field'>
        <div class="lg-input-group">
            <span class="lg-input-group-label" aria-hidden='true'><img src="assets/icons/password.svg"></span>
            <input id='lg-signin-user-password' type="text" name="lg-signin-user-password" class='lg-input-group-field' value='' required>
            <label for='lg-signin-user-password'>Password</label>
        </div>
    </div>
  </div>

  <div class="lg-app">
    <div class="lg-overlay--white">
      <ul class="lg-tab-bar">
        <li class="lg-tab-bar__item is_active">
          <div><img src="assets/icons/home-active.svg" alt=""></div>
          <div>Home</div>
        </li>
        <li class="lg-tab-bar__item">
          <div><img src="assets/icons/list.svg" alt=""></div>
          <div>History</div>
        </li>
        <li class="lg-tab-bar__item">
          <div><img src="assets/icons/devices.svg" alt=""></div>
          <div>Devices</div>
        </li>
        <li class="lg-tab-bar__item">
          <div><img src="assets/icons/settings.svg" alt=""></div>
          <div>Support</div>
        </li>
        <li class="lg-tab-bar__item is_pressed">
          <div><img src="assets/icons/settings-pressed.svg" alt=""></div>
          <div>Settings</div>
        </li>
      </ul>
  </div>
  </div>

</div>