<div style="width: 100%; height: 100%;" [style.background-image]="backgroundImage" [style.background-size]="backgroundSize"
  [style.background-repeat]="backgroundRepeat" class="pm-page {{publicPageClass}}">

  <div role="main">
    <router-outlet></router-outlet>
    <footer class="pm-page_footer pm-container pm-grid">
      <div class="pm-grid-cell--12" *ngIf="showLogout">Powered by <img class="pm-oodit-logo" src="/assets/logo_oodit.svg" alt="Oodit riskplan"></div>
    </footer>
  </div>
</div>