<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="D:\repositories\gotest\bin\go-web.exe" 
        arguments=""  startupTimeLimit="60">
      <environmentVariables>
       <environmentVariable name="PORT" value="8082" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
