{{ define "content" }}
<h3>{{.StepTitle}}</h3>
<div>
    <p>Step {{.StepNumber}}</p>
    <span>
        <p>Add devices</p>
        <p>-or-</p>
        <p>join existing setup</p>
    </span>
    
</div>
<input type="button" value="Next" />

{{ end }}