{{ define "content" }}
<h3>{{.StepTitle}}</h3>
<div>
    <p>Step {{.StepNumber}}</p>
    <p>{{.Content}}</p>
</div>
<form action="/step{{ printf "%v" .StepNumber}}" method="GET">
    <input type="submit" value="Next" />
</form>

{{ end }}